.form-control {
    background-color: var(--soft-yellow);
    border: 1px solid var(--light-sky-blue-blue);
    border-radius: 4px;
    color: var(--dark-navy-blue);
    outline: none;
    padding: 0.75rem;

    &:focus {
        border-color: var(--light-sky-blue-blue);
        box-shadow: 0 0 5px var(--light-sky-blue-blue);
    }
}
