/* Variables */

:root {
    /* Theme colors */
    --dark-grey: #222831;
    --slate-grey: #393E46;
    --turquoise: #00ADB5;
    --light-grey: #EEEEEE;
    --red: #FF4C4C;

    /* Media query breakpoints */
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}
