/* theme colors */

:root {
    --navy: #05386B;
    --emerald: #379683;
    --malachite: #5CDB95;
    --teal: #8EE4AF;
    --alabaster: #EDF5E1;
    --red: #F44336;
}

body {
    background-color: var(--malachite);
    color: var(--alabaster);
    font-family: Helvetica, serif;
    text-transform: uppercase;

    form {
        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            position: relative;

            .password-toggle {
                color: var(--navy);
                cursor: pointer;
                font-size: x-small;
                position: absolute;
                right: 10px;
                top: 2rem;
            }

            .form-label {
                font-size: small;
                margin-bottom: 0.2rem;
            }

            input {
                background-color: var(--alabaster);
                border: 1px solid var(--emerald);
                border-radius: 4px;
                color: var(--navy);
                outline: none;
                padding: 0.75rem;

                &:focus {
                    border-color: var(--emerald);
                    box-shadow: 0 0 5px var(--emerald);
                }
            }

            .invalid-feedback {
                color: var(--red);
                font-size: small;
                margin-top: 0.2rem;
            }
        }

        .form-submit {
            display: flex;
            justify-content: center;

            button {
                background-color: var(--alabaster);
                border: none;
                border-radius: 4px;
                color: var(--navy);
                cursor: pointer;
                padding: 0.75rem 1.5rem;
            }

            button:hover {
                background-color: var(--navy);
                color: var(--alabaster);
            }
        }
    }
}
