.app-page {
    header {
        text-align: center;
    }

    .authenticated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-bottom: 1.5rem;
        }

        button {
            padding: 0.75rem 1.5rem;
            font-size: 1rem;
            color: var(--navy);
            background-color: var(--alabaster); /* Button background color */
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: var(--navy);
            color: var(--alabaster);
        }
    }

    .login-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
