.app-page {
    header {
        text-align: center;
    }

    .login-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
